.para{
    font-size: 1.5rem; 
    font-family: cursive;
    line-height: 38px;
    margin-top: 10px;
}


.intro{
    margin-left: 39rem;
    font-size: 1.3rem;
    font-family: comic,Arial,Helvetica,sans-serif;
    line-height: 45px;
}

.heading{
    font-size: 22px;
    margin-top: 12px;
}
.button{
    margin-left: 22px;
}

.heading small{
    font-size: 22px;
    font-style: italic;
    margin: 0px;
}

@media (max-width: 1200px) {
    .intro{
        margin-left: 1rem;
    }
}